@font-face {
  font-family: 'PingFang-SC-Regular';
  src: url('./assets/font/PingFang-SC-Regular.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/font/Helvetica.ttf');
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(218, 220, 224, 0.6);
    border-radius: 1px;
    border-radius: 5px;
    &:hover {
      background-color: rgba(218, 220, 224, 0.8);
    }
  }
}

body {
  margin: 0;
  font-family: 'Helvetica', 'PingFang-SC-Regular';
  font-size: 14px;
  color: black;
}

/* Button */
button.el-button {
  font-family: inherit;
}

/* Menu */
.el-menu {
  border-right: none;
}
.el-menu-item {
  height: 40px;
  line-height: 40px;
}
.el-menu-item.is-active {
  background-color: #dbdbdc !important;
}

/* Dialog */
.el-dialog__header {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 600;

  .el-dialog__title {
    color: inherit;
    font-size: 14px;
    cursor: default;
    user-select: none;
  }
  .el-dialog__headerbtn {
    height: 100%;
    width: 40px;
    right: 0;
    top: 0;
    cursor: pointer;
    .el-dialog__close {
      color: #373a49;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      &:hover {
        color: #16171d;
      }
    }
  }
}
.el-dialog__body {
  padding: 20px 10px;
}
.el-dialog__footer {
  padding: 10px;
  box-shadow: 0 0 2px 0 #cccccc;
}
.el-dialog__custom-class {
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

/* Tree */
.el-tree-node__content {
  color: black;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #f2f2f3;
}

/* Tabs */
.el-tabs--border-card > .el-tabs__content {
  padding: 0;
}

/* Loading */
.custom-loading-class {
  background: #fff;
  .el-loading-spinner {
    i.el-icon-loading {
      font-size: 26px;
    }
    .el-loading-text {
      font-size: 14px;
    }
  }
}
